@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body,
html {
  margin: 0;
  padding: 0rem;
  background-color: #1b1b1b;
  font-size: 1rem;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: '';
  font-family: "Orbitron", sans-serif;
  color: gold;
}


.lotr-intro {
  background: radial-gradient(#1a1a1a, #000);
  color: #f0e6d2;
  font-family: 'MedievalSharp', cursive;
  padding: 0 0.5rem;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lotr-intro h1 {
  font-size: 2.8rem;
  color: goldenrod;
  margin-bottom: 2rem;
  text-shadow: 0 0 10px gold;
}

.lotr-intro p {
  font-size: 1.3rem;
  margin: 1rem auto;
  max-width: 700px;
  line-height: 1.8;
}

.start-note {
  font-style: italic;
  font-size: 1.1rem;
  margin-top: 2rem;
  color: #ccc;
}
