body,
html {
  margin: 0;
  padding: 5rem;
  background-color: #000;
  font-family: "Orbitron", sans-serif;
  font-size: 1.3rem;

  color: #fff;
  text-transform: uppercase;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(/public/stars.png);
  font-family: "Orbitron", sans-serif;
  color: gold;
}

.password-form {
  background: rgba(0, 0, 0, 0.559);
  border: 2px solid gold;
  padding: 2rem 2rem;
  margin: 5rem auto;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 0 12px gold;
  font-size: 1.2rem;
  font-family: "Orbitron", sans-serif;
}

.password-form input {
  padding: 0.5rem;
  width: 70%;
  font-size: 1rem;
  margin: 0.5rem;
  border-radius: 6px;
  border: none;
}

.password-page button {
  padding: 0.5rem 1rem;
  background: gold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
}

.password-page button:hover {
  background: darkgoldenrod;
  color: white;
  text-shadow: 0 0 8px gold, 0 0 12px orange, 0 0 16px yellow;
}

.game-message {
    font-family: "Orbitron", sans-serif;
  font-style: italic;
  margin-top: 1rem;
}

.victory-message {
  color: lightgreen;
  font-size: 1.5rem;
  margin-top: 2rem;
}